.bttnTracker {
    background-color: #3639AE;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;

}
.bttnTracker:hover {
    background-color: #b2b3ef;
    border-style: solid;
    border-color: #121158;
    transition: 0.2s;

}
.bttnBanner {
    background-color: #232196;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    margin-top: 3%;
    
}
.bttnBanner:hover {
    background-color: #fff;
    width: 160px;
    height: 60px;
    transition: 0.2s;
    color: black
}

.bttnSquared {
    background-color: #3639AE;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border-style: none;
    cursor: pointer;
}
