.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 70px;
    margin-top: 0;
    /*margin-top: 0; -------> averiguar como quitar el espacio de arriba*/
}
.textNavbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    list-style: none;
    /*Quitar redondito de la lista (esto Rocio lo sabe) --- ya esta resuelto*/
}
.textNavbar li a {
    padding-right: 80px;
    font-size: 20px;

    cursor: pointer;
}
.textNavbar a:hover {
   color: #3639AE;


}
