.cardContainerTracker {
    width: 317px;
    height: 119px;
    background: #fff;
    box-shadow: 0 0 10px;
    overflow: hidden;
    
}

.cardContainerTracker:hover {
    transform: translate(0, -5px );
    transition: 0.5s;
    overflow: hidden;
}

.cardText {
    z-index: 5;
}
.cardText h3, p {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    font-size: medium;
    width: 130px;
    margin: 6px;
}

.cardText p {
    font-size: 30px;
    margin-left: 7%;
}

hr {
    width: 99%;
}   



.imgT1Container {
    height: 160px;
    width: 160px;
    display: flex;
    opacity: 25%;
    margin-top: -130px;
    margin-left: 190px;
    position: static;
    
    
    
}

.imgT1Container:hover {
    animation-name: spiner;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}
@keyframes spiner {
    from {transform: rotate(0deg);

    }to {transform: rotate(380deg);

    }

}
