.container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 150px;
    margin-bottom: 100px;
    background-image: "../../assets/Imgenes Comprimidas/page-nav.jpg";
    line-height: 1;
}
.textContainer {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}
.textContainer h1 {
    font-size: 80px;
    color: white;
}
.textContainer p {
    font-size: 25px;
    font-style: normal;
    color: white;
    margin-right: 100px;
    margin-bottom: 40px;
}
.imgContainer {
    margin-top: 35px;
}