.container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 500px;
    margin-bottom: 100px;
    background-image: url(../../../assets/images/Background.png);
    background-size: cover;
    line-height: 1;
}
.textContainer {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}
.textContainer h1 {
    font-size: 90px;
    color: white;
}
.textContainer p {
    font-size: 30px;
    color: white;
  
    width: 100%;



}
.imgContainer {
    margin-top: 35px;
    height: 150px;
    width: 100px;
}
.bttnBanner{
    width: 20px;
    height: 25px;
}