a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    display: flex;
    
}

.articlesContainer {
    display: flex;
    flex-direction: column;
    margin: 10%;
    justify-content: center;
    gap: 25px;
    width: 100%;
    align-items: center;
}

.itemsContainer{
    display: flex;
    align-items: center;
    width: 60%;
}

.itemsContainer img {
    margin-right: 20px;
}
