.faqs-div {
	display: flex;
    flex-direction: column;
   	align-items: center;
	width: 100%;
}


.faqs{
	display: flex;
	flex-direction: column;
    align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.faqs p{
	font-size: 1.12rem;
	margin: 0;
	color: white;
}

.faqs h2{
	font-size: 3.12rem;
	margin: 0;
	color: white;
}

.descriptions-faqs{
	display: flex;
	flex-direction: column;
	background-color: #1C2A4E;
	width: 969px;
	height: 505px;
	font-weight: lighter;
    padding: 0.9rem;
	color: white;
	text-align: left;
}
h5{
	font-size: 1.25rem;
}

.lorem-ipsum-one{
	font-size: 1rem;
	/*font-size: smaller;
	font-weight: normal;*/
}

.faqs2{
	width: 60%;
	margin-left: 20%;
	margin-top: 8%;
	display: flex;
	justify-content: center;
	
	height: 400px;
	padding: 100px 115px;
	align-items: center;
	flex-shrink: 0;
	border-radius: 10px;
	background: linear-gradient(90deg, #1E0C9D 0%, #06CDEC 100%);

}
.faqs2 h2{
	font-size: 4rem;
	margin: 0;
	color: white;
	text-align: center;

}
.phone2{
	padding-bottom: 100%;
}
.faqs2 p{
	font-size: 1rem;
	margin: 0;
	color: white;
}
