.cardT1Container {
    display: flex;
    flex-direction: wrap;

     
}

.wrap {
    margin-left: 2%;
    padding-top: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /*flex-wrap: wrap;
    justify-content: space-between;*/
   

}
.default{
    color: #3639AE;
}

.red {
    color: #FF0000;
}

.green{
    color: #82c519;
}

.blue{
    color: #2c6dff;
}

.orange {
    color: #ff6a07;
}

.redDark {
    color: #b70202;
}
