
.container {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    background-image: "../../assets/Imgenes Comprimidas/page-nav.jpg";
}
.textContainer {
    margin-right: 200px;
    text-align: left;
}
.textContainer h1 {
    font-size: 80px;
    color: white;
}
.textContainer p {
    font-size: 20px;
    font-style: normal;
    color: white;
}
.imgContainer {
    margin-top: 35px;
}