


.title{
  color: white;
  text-align: center;
  width: 100%;
   
   
}
.titleApp{
    margin-top: 2%;
    font-size: 25px;
    color: white;
}

.titleFeatures{
    font-size: 70px;
    padding: 2%;
    color: white;
}


.ftrParagraph{
    display: flex;
    width: 100%;
    margin: 2%;
}
.stayHome{
    font-size: 70px;
    padding: 2%;
    color: white;
}
.textHuman{
    font-size: 30px;
    padding: 2%;
    color: white;
}

.cardsContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 120%;
    gap: 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    cursor: grab;
    
}


.cardItem, 
.cardItem1, 
.cardItem2, 
.cardItem3, 
.cardItem4, 
.cardItem5{
    background-color: rgb(0, 204, 236);
    width: 400px;
    height: 380px;
    border-radius: 5%;
    flex: 0 0 auto;
    
}
.cardContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: aliceblue;
    
}
.cardContainer .imgContainer{
    height: 60px;
    width: 60px;
    background-color: rgb(7, 10, 37);
    border-radius: 15%; 

}
h3{
    font-size: 28px;
}

p{
    font-size: 20px;
}


.icons{
    width: 100%;
    display: flex;
    gap: 15%;
    color: white;
    font-size: 40px;
}
.icon1{
    display: flex;
    align-items: center;
    
}