.containerBrands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    height: 100px;
    background-color: white;
    border-radius: 3px;
    width: 1700px;
}